*{
    transition-duration: 0.3s;
}
article, section {
    p {
        text-indent: 2em;
        line-height: 2.0;
    }
    > ul, > ol {
        margin-left: 2em;
        margin-bottom: 1rem;
    }
} 

// =========================================
// 1. 响应式断点
// =========================================

// 一般情形

body {        
    display: flex;
    flex-direction: column;
    min-height: 0vh;
    min-width: 320px;
    background: var(--bg-light-url) repeat center fixed;
    color: var(--color-primary);
    >* {
        width: 100vw; 
        max-width: 736px;
        margin: 0 auto;
    }
    h1 {
        text-align: center;
        padding: 0.5rem 0;
        }   
    > header {
        >  p {
        text-align: center;
        }
        > a{
        margin-right: 0.5rem;
        }
    }
    > footer {
        text-align: center;
        font-size: 0.8rem;
    }

}

a{
    color: var(--color-secondary);
    text-shadow: 0 0 0.3rem var(--color-shadow);
    &:hover{
        color: var(--color-alert);
    }
}

main {
    flex: 1;
    padding: 1rem 0;
    > aside {
        text-align: center;
    }
    > article {
        padding: 1rem 0;
        > h2 {
            > time {
                display: block;
                font-size: 1rem;
            }
        }
    }

}

main.archive {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    gap: 1rem;
    > aside, > nav {
        flex-basis: 100%;
    }
    > article {
        padding: 0;
        box-shadow: 0 0 0.3rem var(--color-shadow);
        border-radius: 0.5rem;
        flex:2 1 40%;
        ul{
            list-style: none;
            margin: 0;
        }
        li:nth-child(odd){
            background: var(--color-cover-odd);
        }
        li:nth-child(even){
            background: var(--color-cover-even);
        }
    }
    h2 {
        background: var(--color-cover-h2);
        padding: 0 1rem;
        border-radius: 0.5rem 0.5rem 0 0;
    }
    h2 + section {

    }
    h3{
        text-align: center;
        background: var(--color-cover-h3);

    }
}


nav, footer.metas{
    font-size: 0.8rem;
    > ul, ol {
        display: flex;
        flex-wrap: wrap;      
        list-style: none;
    }
}
nav {
    > ul, > ol {
        justify-content: center;
    }
}
ul, ol {
    > li {
        > a {
            display: block;
            text-decoration: none;
            padding: 0.25rem 0.5rem;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
#pageiator {
    span, a{
        display: inline-block;
        padding: 0.25rem 0.5rem;
    }
    span:before{
        content: "[";
    }
    span:after{
        content: "]";
    }
}


// 平板端 (>= 768px)
@media (min-width: 768px) {
    body {
        >* {
            max-width: 96vw;
        }
    }
}


// 桌面电脑 (>= 992px)
@media (min-width: 992px) {
    main.archive {
        > article {
            flex:3 1 30%;
        }

    }


}


// 大屏显示器 (>= 1200px)
@media (min-width: 1200px) {
    body {
        >* {
            max-width: 1152px;
        }
    }
}

// 手机端横屏微调
@media (max-width: 767px) and (orientation: landscape) {

}
